---
import Title from '../atoms/Title.astro';
import SkillsOnTerminal from './components/skills-on-terminal/skillsOnTerminal.astro';
import './skills.css';
---

<section id="skills">
	<SkillsOnTerminal />
	<div class="text-content">
		<Title contenido="Skills" />
		<p>
			Every project I've completed is an adventure that reflects my
			creativity and expertise. Whether in web, mobile backend or
			program development, my skills in Flutter, React, Python, C++,
			and MongoDB have enabled me to transform ideas into concrete solutions.
			I pay particular attention to quality, innovation and user experience,
			and love taking on challenges to bring innovative or fun-to-do projects to life.
		</p>
	</div>
</section>
